*
  padding 0
  margin 0
  user-select none
body
  cursor url("../../../asserts/image/cursor.png") 39 39 auto

.demo5-outer
  background-color #eee
  color #fff
  position absolute
  width 100%
  height 100%
  font 28px/1em "Helvetica"
  display flex
  justify-content center
  align-items center
  .demo5
    width 320px
    height 400px
    .demo5-item
      position absolute
      width 320px
      height 90px
      overflow visible
      pointer-events auto
      transform-origin 50% 50% 0
      border-radius 4px
      color rgb(153,153,153)
      line-height 96px
      padding-left 32px
      font-size 24px
      font-weight 400
      background-color rgb(255,255,255)
      box-sizing border-box
      .link
        position absolute
        color rgb(76,76,76)
        text-decoration none
        font 14px/1em "Helvetica"
        padding 10px
        top 0
        left 0
