.async-item
  font-size 20px
  border 1px solid #999
  height 60px
  line-height @height
  margin-bottom 15px
  color #666
  box-shadow 2px 6px 14px #aaa
  text-indent 2em
  .item-title
    cursor pointer
